# built application files
*.apk
*.ap_

# Java class files
*.class

# generated android files
**bin/
**target
**gen/
**tmp/
out/

# local configuration files
local.properties

# scripts
.pyc

# Intellij workspace-specific files
**.idea/
*.iml
workspace.xml
tasks.xml

.DS_Store

/.DS_Store

