<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.convertible"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="16"/>
    <application android:label="@string/app_name">
        <activity android:name=".activity.BaseActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.OptionMenuActivity"
                  android:label="@string/option_menu_activity"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AreaConversionActivity"
                  android:label="@string/option_area"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LengthConversionActivity"
                  android:label="@string/option_length"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VolumeConversionActivity"
                  android:label="@string/option_volume"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MassConversionActivity"
                  android:label="@string/option_mass"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NumberSystemConversionActivity"
                  android:label="@string/option_number_system"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TemperatureConversionActivity"
                  android:label="@string/option_number_system"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpeedConversionActivity"
                  android:label="@string/option_speed"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AngleConversionActivity"
                  android:label="@string/option_angle"
                  android:screenOrientation="portrait"
                  android:theme="@style/sexy_theme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 
